a {
  border: 2px solid #F8F8F8;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 15px;
  font-family: arial;
  font-size: 16px;
  background-color: #63b4cf;
  color: white;
}

input:hover {
  border: 2px solid #3691b0;
}

a:hover {
  border: 2px solid #3691b0;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  background-color:lightgray;
  color: gray;
}

.magnify-glass {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}