nav {
  padding: 10px;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-family: arial;
  color: gray;
}

a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

a.active {
  color: black;
  text-decoration: underline;
}

.navigation-bar {
  background-color: rgb(231, 230, 227);
}