.header { padding-left: 20px; padding-bottom: 10px; text-align: left; font-size: 18px; font-family: arial; font-weight: bold; }
.details { padding-left: 20px; text-align: left; vertical-align: top; }
img { float: left; padding-right: 10px; }