<div *ngIf="matchDataList">

  <div class="header">
    <div class="title-container"><div class="title-text">Match History</div></div><div class="excel-container"><div style="display:none;" class="excel-button" (click)="saveData()">Export to Excel</div></div>
  </div>

  <div class="match-div">
  
      <table class="match-table" width="100%">
      <tr>
        <th width="14%">Date</th>
        <th width="14%">Match Type</th>
        <th width="14%">Champion</th>
        <th width="14%">KDA</th>
        <th width="14%">Team 1</th>
        <th width="14%">Team 2</th>
        <th width="14%">Result</th>
      </tr>
      <tr *ngFor="let match of matchDataList; index as idx" [ngClass]="isOdd(idx) ? 'odd' : 'even'">
        <td>{{match.date | date:'short'}}</td>
        <td>{{match.gameMode}}</td>
        <td><img *ngIf="match.championImg" src="http://ddragon.leagueoflegends.com/cdn/9.3.1/img/champion/{{match.championImg}}" width="75"><br>{{match.championName}}</td>
        <td>{{match.kda.kills}}/{{match.kda.deaths}}/{{match.kda.assists}}</td>
        <td><div *ngFor="let teamMember of match.teams[0].teamMembers"><span [class.current-summoner]="isSummoner(teamMember)">{{teamMember}}</span></div></td>
        <td><div *ngFor="let teamMember of match.teams[1].teamMembers"><span [class.current-summoner]="isSummoner(teamMember)">{{teamMember}}</span></div></td>
        <td><span [ngClass]="(match.result == 'Win') ? 'win' : 'lose'">{{match.result}}</span></td>
      </tr>
    </table>
    
  </div>

  <div style="display: none;" class="button-div"><span (click)="getNextTenMatches()">Get Next 10 Matches</span></div>
  
</div>