.header { padding-left: 20px; text-align: left; font-size: 18px; font-family: arial; font-weight: bold; }
.match-div { text-align: center; padding: 20px; }
.match-table { text-align: center; border-collapse: collapse; }
.match-table th { border: 1px solid black; padding: 10px; }
.match-table td { border: 1px solid black; padding: 10px; }
.match-table .win { color: blue; }
.match-table .lose { color: red; }
.match-table .current-summoner { font-weight: bold; }
.button-div { padding: 10px; margin-bottom: 20px; }
.button-div span {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #63b4cf;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: arial;
}